/* Gnome 13/01/2019 · u/thepante */
@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

@-moz-document url(chrome://browser/content/browser.xul), 
               url(chrome://browser/content/places/bookmarksSidebar.xul), 
               url(chrome://browser/content/places/historySidebar.xul) {
             
  /* Sidebar flotante */
  #browser {
    --sidebar-size: 60%;
    --sidebar-width: 24em;
    --shadow-strong: 0.1;
    position: absolute;
  }
  #appcontent {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }
  #tabbrowser-tabbox {
    height: 100%;
    width: 100%;
  }
  #sidebar-header {
    width: 100%;
  }
  #sidebar-box {
    position: absolute;
    right: 0;
    height: calc(var(--sidebar-size) - 42px);
    z-index: 9999;
  }
  #sidebar {
    min-width: var(--sidebar-width) !important;
    min-height: 100%;
    position: absolute;
    border-radius: 0 0 0 3px;
  }
  .sidebar-splitter, 
  #sidebar-reverse-position, 
  #sidebar-extensions-separator {display: none;}
  
  .sidebar-placesTreechildren {
    color: var(--chrome-color) !important;
    filter: saturate(0.5) !important;
  }
                 
  #browser {overflow: hidden;}
  .openit {
      opacity: 1;
      margin-right: 0px !important;
      transition-property: opacity;
      transition-duration: 0.15s !important;
    box-shadow: 5px 15px 101px 22px rgba(0,0,0, calc(0.40 + var(--shadow-strong)));
  }
  .closeit {
      opacity: 0;
      box-shadow: none !important;
      margin-right: calc(-100vh * 0.4);
      transition-property: opacity;
      transition-duration: 0.15s !important;
  }
}

